/*你会看见各个class名前面有一个点,要有这个点才是代表着class属性的,没有点的代表标签名*/

.p-demo-1{
    margin-top: 40px;
    margin-bottom: 40px;
}

.span-bold{
    font-weight: bold;
}

.span-i{
    font-style:italic;
}
.span-u{
    text-decoration: underline;
}
.span-big{
    font-size:large;
}
.span-small{
    font-size:small;
}
.span-overline{
    text-decoration: overline;
}
.span-deleteline{
    text-decoration:line-through;
}

.span-red{
    color:#aa3333;
}

.span-green{
    color:#33aa33;
}

.span-blue{
    color:#3333aa;
}

.span-fontsize1{
    font-size: 36px;
}

.span-fontsize2{
    font-size: 24px;
}

.span-background{
    background-color: #ffaaaa;
}


.span-fontfamily{
    font-family: "宋体";
}

.p-text-left{
    text-align: left;
}

.p-text-right{
    text-align: right;
}

.p-text-center{
    text-align: center;
}


.div-background-1{
    background-color: cornflowerblue;
}

.div-background-2{
    background-color: cadetblue;
}


.div-background-3{
    background-color:brown;
}

.div-background-4{
    background-color:coral;
}

.div-inline{
    display: inline;
}

.div-block-1{
    display: block;
    width: 150px;
    height:100px;
}

.div-inline-1{
    display: inline-block;
    width: 150px;
    height:100px;
}

.div-block-2{
    display: block;
    width: 100px;
    height:200px;
}

.div-block-1-1{
    display: block;
    float:left;
    width: 150px;
    height:100px;
}

.div-block-2-1{
    display: block;
    float:left;
    width: 100px;
    height:200px;
}

.div-block-nav{
    display: block;
    float:left;
    width: 100px;
    height:20px;
}


.a-button-baidu{
    display: inline;
    
    margin: 5px;
    border:0;
    padding: 5px 8px; /*padding: 5px 8px 5px 8px;的简写,分别代表着上右下左的内边距*/
    background-color: #4477ff;
    color:#fff;
    border-radius: 5px; /*使矩形变成圆角矩形*/
    text-decoration: none; /*去掉链接的下划线*/
}

.a-button-baidu:hover, /*当鼠标或者焦点停留在这个东西上的时候触发*/
.a-button-baidu:focus{
    background-color: #4499ff;
}

.a-button-baidu:active{ /*当鼠标点击之后触发*/
    background-color: #4477aa;
}

.div-margin-left{
    margin-left: 50px; /*等效于 margin: 0 0 0 50px;*/
}

.div-padding-left{
    padding-left: 50px; /*等效于 margin: 0 0 0 50px;*/
}


.div-block-3{
    display: block;
    width: 300px;
    height:300px;
}

.div-29-left{
    display: block;
    float: left;
    width:50%;
    height:200px;
}

.div-29-right{
    display: block;
    float: left;
    width:50%;
    height:200px;
}

.div-30-leftup{
    height: 40%;
}
.div-30-leftdown{
    height: 60%;
}
.div-31-left{
    display: block;
    float: left;
    width:50%;
    height:100%;
}
.div-31-right{
    display: block;
    float: left;
    width:50%;
    height:100%;
}

.div-32-circle-1{
    display: inline-block;
    width: 100px;
    height:100px;
    
    border-radius: 5px;
}

.div-32-circle-2{
    display: inline-block;
    width: 100px;
    height:100px;
    
    border-radius: 25px;
}

.div-32-circle-3{
    display: inline-block;
    width: 100px;
    height:100px;
    
    border-radius: 40px;
}

.div-32-circle-4{
    display: inline-block;
    width: 100px;
    height:100px;
    
    border-radius: 50px;
}


.div-34-up{
    padding:10px;
}

.div-34-profilecontainer{
    display: block;
    width:350px;
    height:230px;
    background-color: #eeeeff;
    
    border-radius: 10px;
}

.p-34-nickname{
    font-weight: bold;
    color:#000033;
    margin-top: 10px;
}

.div-34-bottom{
    background-color: #7766ee;
    border-radius: 0 0 10px 10px;
    padding: 10px;
}

.div-34-bottomdatacontainer{
    display: block;
    float: left;
    width: 33%;
}

.div-34-data{
    font-size: 30px;
    color: #fff;
}

.div-34-dataname{
    font-size: 14px;
    color: #4433aa;
}


.div-35-container{
    display: block; /*设置为块级元素*/
    background-color: #eee; /*设置背景色*/
    
    text-align: center; /*设置居中*/
    
    width:200px; /*设置长宽*/
    height:220px;
    
    
    border-radius: 10px; /*设置矩形边角半径*/
}

.img-35-ganlan{
    width:180px;
    
    margin-top: 10px;/*使其距离父元素的上边界有10个像素*/
}

.a-35-buy{
    display: inline-block; /*必须设置成行内块元素,要不然他不会居中....*/
    
    margin-top: 20px;
    padding: 10px; /*留一些内边距*/
    width: 80px; /*设置他的宽度*/
    
    
    background-color: #ff6633; /*背景颜色改成淘宝的橙色!*/
    color: #fff; /*字体颜色就用白色吧!*/
    border-radius: 10px; /*边界半径也设置一下吧~*/
}